


.contenedor-blog{
 
 display: flex;
 height: 100%;
 flex-wrap: wrap-reverse;
    

}

#blog-container{
    
    display: flex;
    height: 100%;
    flex-wrap:wrap-reverse 
}

.card-img-top {
    width: 100%; /* Ocupa el ancho completo de la tarjeta */
    height: 200px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Recorta la imagen para llenar el espacio sin deformarse */
  }
  


  footer{
    margin-top: 40px !important;
    height: 100%;
   
    margin-bottom: 0;
    
   
}


.contenedor-footer{
    
    padding-bottom: 50px;
}