.contacto{
    
    
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0e5097, #51dcff,#0f2c83,#1e88a5 );
    animation: fondoAnimado 30s infinite alternate;
    background-size: 300% 300%;
    
}

@keyframes fondoAnimado {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.contenedor-principal{
    border: solid gray;
    border-width: 1px;
    width: 60%;
    height: 70vh;
    display: flex;
    border-radius: 20px ;
    box-shadow: rgb(16, 35, 51) 10px 10px 5px;
}

.imagen{
    
    width: 30%;
    height: 100%;
    display: flex;
    border-radius:20px 0 0 20px;
    
}

.form-contenedor{
    
    width: 70%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    color: white;

}

.form-contenedor {
    width: 70%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    color: white;

    background: rgba(255, 255, 255, 0.039); /* Fondo semitransparente */
    backdrop-filter: blur(100px); /* Difumina el fondo detrás de la caja */
    
    color: white; /* Color de texto */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde sutil */
}











.imagen{
background: url('/imagenes/Logo.png') no-repeat center center;
background-size: contain;
background-color: white;
}

.texto{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    


}

form{
    
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-size: 26px;

}

label{
   
    width: 100%;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px; /* Espacio entre cada campo */
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.039); /* Fondo semitransparente */
    backdrop-filter: blur(100px); /* Difumina el fondo detrás de la caja */
    border-radius: 10px; /* Bordes redondeados opcionales */
    color: white; /* Color de texto */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde sutil */
    color: white;
}

textarea{
    height: 80%;
    
}

.contenedor-boton{
   
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

button{
  
    background-color: #50a5ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}


.ubicacion{
    width: 100%;
    height: auto;
    background-color: #0e5097;
    color: white;
    
    height: 100%;


}

.textoubi{
    padding: 20px;
}

.contenedor-ubi{
   
    display: flex;
    flex-direction: column;
    
    text-align: center;
    height: 50vh;

}

.mapa{
    
    width: 100%;
    height: 100%;
   
    margin: 0;
}

iframe{
    width: 100%;
    height: 100%;
    
    margin: 0;

}

.footer{
    margin-top: 0 !important;
}


@media screen and (max-width: 768px){
    .imagen{
        display: none;
    }

    .form{
        font-size: 10px;
    }

    .contacto{
        height: 90vh;
        padding-bottom: 50px;
        padding-top: 40px;
    }

    .form-contenedor{
    
        width: 100%;
        height: 100%;
        border-radius: 20px;
        color: white;
        
        
    
    }

    .contenedor-principal{
        margin: 20px;
        width: 80%;
        height: 85vh;
        
        
        
        
       
    }

    .contenedor-boton{
        margin-top: 20px;
        margin-bottom: 20px;
    
        padding: 20px;
    }
}

